@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  /* font-weight: 100; font-weight doesnt work */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

#pomodoro-clock,
#break-timer {
    text-align: center;
}

#increment-decrement,
#break-increment-decrement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#increment-decrement button,
#break-increment-decrement button {
    display: block;
    margin: 10px;
    padding: 10px 16px;
}

button {
  width: 100%;
  background: transparent;
  border: 1px solid black;
  box-shadow: 3px 3px 3px 0px #000000;
  font-family: 'Montserrat';
}

button:focus {
  border: 1px solid black;
}

button:active {
  transform: scale(0.95);
}